@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Matemasie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Matemasie&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*PC*/
body {
    background-image: linear-gradient(45deg, #308ADB, #3825DB, #5270D9, #4DC6DB, #8C52D9);
}


#titulo{
    color: black;
    font-size: 100px;
    font-family: "Poppins", sans-serif;
    padding-left: 35px;
    padding-top: -10px;
    padding-bottom: 10px;
}


#logotipo{
    position: absolute;
    height:90%;
    top: -215px;
    left: 1000px;
}

figure.bloco{
    background-color: black;
    position: relative;
    width: 30%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    border: 5px solid white;

}

figure#bloco1{
    margin-left: 550px;
    margin-top: -660px;
}

figure#bloco2{
    margin-left: 1065px;
    margin-top: -660px;
}

figure#bloco3{
    margin-left: 20%;
}

figure#bloco4{
    width: 28%;
    margin-left: 55%;
    margin-top: -46%;

}

figure img#imagem{
    padding-left: 20px;
    padding-top: 40px;
}

figure img#imagem13{
    width: 57%;
    padding-left: 91px;
    padding-top: 75px;
    padding-bottom: 35px;
}

figure img#imagem12{
    width: 77%;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: -23
    
}

figure img#imagem11{
    width: 140%;
    margin-left: -85px;
    padding-top: 35px;
}

figure img#imagemx{
    width: 100%;
    padding-top: 55px;
    padding-bottom: 10px;
}

figure figcaption h3#iphone{
    top: 0;
    position: absolute;
    font-size: 45px;
    font-family: "Roboto Slab", serif;
    margin-left: 130px;
    margin-top: 5px;
    color: white;
}

footer{
    position: relative;
}

#contato{
    background-image: linear-gradient(-45deg, #3825DB, #8C52D9);
    position: relative;
    width: 30%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    border: 5px solid white;
    margin-left: 315px;
}

#markiting{
    background-image: linear-gradient(-45deg, #3825DB, #8C52D9);
    position: relative;
    width: 30%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    border: 5px solid white;
    margin-left: 850px;
    margin-top: -193px;
    margin-bottom: 50px;
    padding-bottom: 13px;
    padding-top: 5px;
    
}

#frase{
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    padding-left: 12px;
    margin-top: -10px;
    margin-bottom: -10px;
}

#informacoes{
    position: absolute;
    color: black;
    top: -44px;
    left: 12px;
    font-size: 40px;
    font-family: 'Roboto Slab',serif;

}

#numero{
    position: absolute;
    color: black;
    top: 50px;
    left: 160px;
    font-size: 35px;
}

#zap{
    width: 30.9%;
    padding-top: 38px;
    padding-left: 10px;
}

#ideia{
    position: absolute;
    height: 130px;
    left: 310px;
    border: 3px, solid, #3825DB;
    border-radius: 20px;
}